div(style="padding-top: 15px;").container
	div(style="margin-bottom: 10px;").row
		div.-header.col-sm-2.col-xs-12
			h3(style="margin-top: 10px; margin-bottom: 10px;") Activity
		div.col-sm-4.col.xs-12
		div(ng-class = "{'hidden':intervalStatus != 4}").col-sm-6
			div.col-sm-6.col-xs-12
				div(style="margin-bottom: 7px; margin-top: 7px;").form-group
					div(id = "datePickerStart").input-group.date
						span(style="cursor:default").input-group-addon From:
						input(type="text").form-control#textStartDate
						span.input-group-addon
							span.fa.fa-calendar
			div.col-sm-6.col-xs-12
				div(style="margin-bottom: 7px; margin-top: 7px;").form-group
					div(id = "datePickerEnd").input-group.date
						span(style="cursor:default").input-group-addon To:
						input(type="text").form-control#textEndDate
						span.input-group-addon
							span.fa.fa-calendar
	div.row
		div.col-sm-6.col-xs-12
			div.col-xs-2
				i(style="color:#428bca").fa.fa-3x.fa-male
			div.col.xs-10
				h3(style="margin-top: 10px;")
					span(style="font-size=%95").text-primary 7485
					span(style="font-size=%95")  steps taken
					span(style="font-size=%95").text-primary  today
		div.col-sm-6.col-xs-12
			div.row
				uib-pro
				//div(role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
				//style="width:75%").progress-bar.progress-bar-striped.progress-bar-primary.active
					span(style="line-height: 29px;") {{totalActivity.step.text}}

	div.row
		div.col-sm-6.col-xs-12
			div(style="padding-left: 10px;").col-xs-2
				i(style="color:#5cb85c").fa.fa-3x.fa-road
			div.col.xs-10
				h3(style="margin-top: 10px;")
					span(style="font-size=%95").text-success 3.35
					span(style="font-size=%95")  km traveled
					span(style="font-size=%95").text-success  today
		div.col-sm-6.col-xs-12
			div(style="height: 30px;").progress
				div(role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"
				style="width:67%").progress-bar.progress-bar-striped.progress-bar-success.active
					span(style="line-height: 29px;") {{totalActivity.distance.text}}

	div.row
		div.col-sm-6.col-xs-12
			div.col-xs-2
				i(style="color:#d9534f").fa.fa-3x.fa-fire
			div.col.xs-10
				h3(style="margin-top: 10px;")
					span(style="font-size=%95").text-danger 2177
					span(style="font-size=%95")  calories burned
		div.col-sm-6.col-xs-12
			div(style="height: 30px;").progress
				div(role="progressbar" aria-valuenow="{{totalActivity.calorie.completed}}" aria-valuemin="0" aria-valuemax="{{totalActivity.calorie.goal}}").progress-bar.progress-bar-striped.progress-bar-danger.active
					span(style="line-height: 29px;") {{totalActivity.calorie.text}}
	div.row
		div.col-sm-6.col-xs-12
			div(google-chart chart="stepCalorieChart" style="height:600px; width:%100")
		div.col-sm-6.col-xs-12
			div(google-chart chart="timeActivityChart" style="height:600px; width:%100")


div.row.navbar.navbar-default.navbar-fixed-bottom
	div.container
		div.navbar-header
			button(type="button", data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar2").navbar-toggle.collapsed
				span.sr-only Toggle navigation
				span.fa.fa-gear

		div(id="navbar2", ng-mouseover="navbar2").navbar-collapse.collapse
			ul.nav.navbar-nav.navbar-right
				li(ng-class = "{'active':intervalStatus == 0}", ng-click = "statusChange(0)")
					a(href="").btn.btn-block Last Day
				li(ng-class = "{'active':intervalStatus == 1}", ng-click = "statusChange(1)")
					a(href="").btn.btn-block Last Week
				li(ng-class = "{'active':intervalStatus == 2}", ng-click = "statusChange(2)")
					a(href="").btn.btn-block Last Month
				li(ng-class = "{'active':intervalStatus == 3}", ng-click = "statusChange(3)")
					a(href="").btn.btn-block Last Year
				li(ng-class = "{'active':intervalStatus == 4}", ng-click = "statusChange(4)")
					a(href="").btn.btn-block Custom