html(ng-app='fitnessApp')
	head
		title fitnessApp
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
		link(rel="stylesheet", href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")
		script(src='/bower_components/angular/angular.min.js')
		script(src='/bower_components/angular-route/angular-route.min.js')
		script(src='/bower_components/d3/d3.min.js')
		script(src='/bower_components/angular-charts/dist/angular-charts.min.js')

	body
		div.row.navbar.navbar-default.navbar-fixed-top
			div.container
				div.navbar-header
					button(type="button", data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar").navbar-toggle.collapsed
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(href="#/").navbar-brand Fitness App

				div(id="navbar").navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href="").btn.btn-block
								span(style="padding-right: 5px").fa.fa-mobile-phone
								| Find it
						li
							a(href="#/status").btn.btn-block
								span(style="padding-right: 5px").fa.fa-list-ul
								| Status
						li.dropdown
							a(href="", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false").dropdown-toggle
								span(style="padding-right: 5px").fa.fa-user
								| #{username}
								span.caret
							ul.dropdown-menu
								li
									a(href="") User Profile
								li
									a(href="/users/logout") Logout
		div.ng-view

		//scripts from bower
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/moment/min/moment.min.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')

		//Angular App
		script(src='/javascript/angular/app.js')

		//Angular Controllers
		script(src='/javascript/angular/controllers/dashboardController.js')
		script(src='/javascript/angular/controllers/statusController.js')
