extends layout

block content
	h1= title
	p Welcome to #{title}
	p Login or Register with:
	a(href="/users/auth/facebook").btn.btn-primary
		span.fa.fa-facebook Facebook
	br
	a(href="/users/auth/google").btn.btn-danger
		span.fa.fa-google Google
