doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/bower_components/bootstrap-social/bootstrap-social.css')
		link(rel="stylesheet", href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")
	body
		block content

		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src="/bower_components/moment/min/moment.min.js")
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")